body {
    font-family: STFangSong, Helvetica, Arial, Vernada, Tahoma, STXihei, "Microsoft YaHei", "Songti SC", SimSun, Heiti, sans-serif;
    font-size: 18px;
    width: 100%;
}

.title a {
    display: block;
}

.title {
    cursor: pointer;
    padding: 10px !important;
    margin: 10px !important;
    border-width: 1px;
}

li.title:hover {
    background-color: #eee;
}

.panel {
    border-radius: 0;
}

.panel-default > .panel-heading {
    background-image: none;
}

.navbar-default {
    background-image: none;
    background-color: #fff;
    box-shadow: none;
}

.row {
    margin-left : 0;
    margin-right: 0;
}
.not_in_mm .qr_code_pc_img {
            width: 102px;
            height: 102px;
        }
        .not_in_mm .qr_code_pc {
            position: absolute;
            right: -150px;
            top: 50px;
            width: 150px;
            padding: 16px;
            border: 1px solid #d9dadc;
            background-color: #fff;
            word-wrap: break-word;
            word-break: break-all;
        }
        .not_in_mm .qr_code_pc_1 {
            position: absolute;
            right: 740px;
            top: 50px;
            width: 150px;
            padding: 16px;
            border: 1px solid #d9dadc;
            background-color: #fff;
            word-wrap: break-word;
            word-break: break-all;
        }
        .not_in_mm .qr_code_pc_inner {
            position: relative;
            width: 740px;
            margin-left: auto;
            margin-right: auto;
        }
        .not_in_mm .qr_code_pc_outer {
            position: fixed;
            left: 0;
            right: 0;
            top: 20px;
            color: #717375;
            text-align: center;
        }
        p {
            display: block;
            -webkit-margin-before: 1em;
            -webkit-margin-after: 1em;
            -webkit-margin-start: 0px;
            -webkit-margin-end: 0px;
        }
        .myclass_style{
            color: #a78918;
        }